
@{
    ViewBag.Title = "SEHA - Availability";
    Layout = "~/Views/templates/templateUser/_headerUser.cshtml";
    var i=1;
}

<!-- Principal Content -->


<div class="avaiability">
    <div class="row">
        <div class="col-md-9">
            <div class="disp-content">
                <p class="font-seha font-seha-title">Fill the blocks according to your availability</p>

                <!-- Slots -->

                <div class="slots font-seha">

                    <!-- Slots hours -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Hours</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>7:40 to 9:20</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>9:30 to 11:10</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>11:20 to 13:00</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>13:10 to 14:50</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>15:00 to 16:40</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>16:50 to 18:30</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>19:00 to 20:40</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>20:50 to 22:30</p>
                        </div>
                    </div>

                    <!-- Slots Monday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Monday</p>
                        </div>
                        @for (i = 1; i <= 8; i++)
                        {
                            <div class="slots-content">
                                <input hidden disabled value="@i"/>
                            </div>
                        }
                    </div>

                    <!-- Slots Tuesday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Tuesday</p>
                        </div>
                        @for (i = 9; i <= 16; i++)
                        {
                            <div class="slots-content">
                                <input hidden disabled value="@i" />
                            </div>
                        }
                    </div>

                    <!-- Slots Wednesday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Wednesday</p>
                        </div>
                        @for (i = 17; i <= 24; i++)
                        {
                            <div class="slots-content">
                                <input hidden disabled value="@i" />
                            </div>
                        }
                    </div>

                    <!-- Slots Thursday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Thursday</p>
                        </div>
                        @for (i = 25; i <= 32; i++)
                        {
                            <div class="slots-content">
                                <input hidden disabled value="@i" />
                            </div>
                        }
                    </div>

                    <!-- Slots Friday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Friday</p>
                        </div>
                        @for (i = 33; i <= 40; i++)
                        {
                            <div class="slots-content">
                                <input hidden disabled value="@i" />
                            </div>
                        }
                    </div>

                    <!-- Slots Saturday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Saturday</p>
                        </div>
                        @for (i = 41; i <= 48; i++)
                        {
                            <div class="slots-content">
                                <input hidden disabled value="@i" />
                            </div>
                        }
                    </div>

                </div>

                <!-- /Slots -->
                <!-- Slots buttons -->

                <div class="slots-tools">
                    <button class="btn slots-tbutton" id="available">Available</button>
                    <button class="btn slots-tbutton" id="maybe">Maybe</button>
                </div>

                <div class="slots-buttons">
                    <button class="btn slots-save">Save</button>
                    <button class="btn slots-clear">Clear</button>
                </div>

                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100">
                     <label>0%</label>
                </div>

                <div class="table-observation font-seha">
                    <p class="font-seha-info">Observations</p>
                    <div class="scroll">
                        <table>
                            <tbody>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                                <tr>
                                    <td>(12/05/16) Viana: As aulas disponibilizadas blabla</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="observation">
                    <textarea placeholder="Type your observations..."></textarea>
                </div>

            </div>
        </div>
        <div class="col-md-3">Área destinada aos lembretes</div>
    </div>
</div>
