@model IEnumerable<ProjectSeha.Entity.Disciplina>
@using ProjectSeha.Entity;


<table id="tb-assignment" class="table table-bordered">
    <thead>
        <tr>
            <th>1st Semester</th>
            <th>2st Semester</th>
            <th>3st Semester</th>
            <th>4st Semester</th>
            <th>5st Semester</th>
            <th>6st Semester</th>
        </tr>
    </thead>
    <tbody>

        @{
            //Método gambiarra
            List<Disciplina> disciplinas = new List<Disciplina>();
        }

        @for(var lin = 1; lin <= 8; lin++)
        {
            int cont = 1;
            <tr>
                @foreach (var d in Model)
                {
                    if (d == disciplinas.Find(item => item.DisciplinaId == d.DisciplinaId))
                    {

                    }
                    else
                    {
                        bool achou = false;

                        Atribuicao a;
                        var atribuicoes = (List<Atribuicao>)ViewBag.ListAtribuicao;
                        a = atribuicoes.Find(item => item.CodDisciplina == d.DisciplinaId);

                        Atribuicao dis;
                        var disableds = (List<Atribuicao>)ViewBag.ListDisabled;
                        dis = disableds.Find(item => item.CodDisciplina == d.DisciplinaId);

                        for (var sem = cont; sem <= 6; sem++)
                        {
                            if (d.Semestre == sem)
                            {
                                if (a != null)
                                {
                                <td>
                                    <input checked id="cbDisciplina @d.DisciplinaId" name="cbDisciplina[]" type="checkbox" value="@d.DisciplinaId @d.QtdAulas" />
                                    <label for="cbDisciplina @d.DisciplinaId">@d.Sigla</label>
                                </td>
                                }
                                else if (dis != null)
                                {
                                <td>
                                    <input disabled id="cbDisciplina @d.DisciplinaId" name="cbDisciplina[]" type="checkbox" value="@d.DisciplinaId @d.QtdAulas" />
                                    <label for="cbDisciplina @d.DisciplinaId">@d.Sigla</label>
                                </td>
                                }
                                else
                                {
                                <td>
                                    <input id="cbDisciplina @d.DisciplinaId" name="cbDisciplina[]" type="checkbox" value="@d.DisciplinaId @d.QtdAulas" />
                                    <label for="cbDisciplina @d.DisciplinaId">@d.Sigla</label>
                                </td>
                                }

                                achou = true;

                                cont = sem + 1;
                                break;

                            }
                            else
                            {
                                if (sem <= 7)
                                {
                                    <td></td>
                                }
                            }
                        }
                        if (achou)
                        {
                            disciplinas.Add(d);
                            continue;
                        }
                    }
                }
            </tr>
        }


    </tbody>
</table>
<div id="button-assignment">
    <button id="btn-save-assignment" class="btn btn-seha2">Save</button>
    <a href="/assignment/assignment" id="btn-cancel-assignment" class="btn btn-seha1">Cancel</a>
</div>
