@model IEnumerable<ProjectSeha.Entity.Disciplina> 

<table id="tb-assignment" class="table table-bordered">
    <thead>
        <tr>
            <th>1st Semester</th>
            <th>2st Semester</th>
            <th>3st Semester</th>
            <th>4st Semester</th>
            <th>5st Semester</th>
            <th>6st Semester</th>
        </tr>
    </thead>
    @foreach (var d in Model)
    {
        <tr>
           <td><input type="checkbox" value="@d.DisciplinaId" /> @d.Sigla </td>
           <td><input type="checkbox" value="@d.DisciplinaId" /> @d.Sigla </td>
           <td><input type="checkbox" value="@d.DisciplinaId" /> @d.Sigla </td>
           <td><input type="checkbox" value="@d.DisciplinaId" /> @d.Sigla </td>
           <td><input type="checkbox" value="@d.DisciplinaId" /> @d.Sigla </td>
           <td><input type="checkbox" value="@d.DisciplinaId" /> @d.Sigla </td>
        </tr>
    }
</table>

<button id="btn-save-assignment" class="btn btn-seha2">Save</button>
<button id="btn-cancel-assignment" class="btn btn-seha1">Cancel</button>
