@model IEnumerable<ProjectSeha.Entity.Disciplina>
@using ProjectSeha.Entity;

<table id="tb-assignment" class="table table-bordered">
    <thead>
        <tr>
            <th>1st Semester</th>
            <th>2st Semester</th>
            <th>3st Semester</th>
            <th>4st Semester</th>
            <th>5st Semester</th>
            <th>6st Semester</th>
        </tr>
    </thead>
    <tbody>

        @for(var lin = 1; lin <= 8; lin++)
        {
            //var disciplinas = (List<Disciplina>)Model;
            int cont = 1;
            <tr>
                @foreach (var d in Model)
                {
                    bool achou = false;

                    Atribuicao a;
                    var atribuicoes = (List<Atribuicao>)ViewBag.ListAtribuicao;
                    a = atribuicoes.Find(item => item.CodDisciplina == d.DisciplinaId);

                    Atribuicao dis;
                    var disableds = (List<Atribuicao>)ViewBag.ListDisabled;
                    dis = disableds.Find(item => item.CodDisciplina == d.DisciplinaId);

                    for(var sem = cont; sem <= 6; sem++)
                    {
                        if (d.Semestre == sem)
                        {
                            if (a != null)
                            {
                                <td>
                                    <input checked id="cbDisciplina @d.DisciplinaId" name="cbDisciplina[]" type="checkbox" value="@d.DisciplinaId" />
                                    <label for="cbDisciplina @d.DisciplinaId">@d.Sigla</label>
                                </td>
                            }
                            else if (dis != null)
                            {
                                <td>
                                    <input disabled id="cbDisciplina @d.DisciplinaId" name="cbDisciplina[]" type="checkbox" value="@d.DisciplinaId" />
                                    <label for="cbDisciplina @d.DisciplinaId">@d.Sigla</label>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input id="cbDisciplina @d.DisciplinaId" name="cbDisciplina[]" type="checkbox" value="@d.DisciplinaId" />
                                    <label for="cbDisciplina @d.DisciplinaId">@d.Sigla</label>
                                </td>
                            }

                            achou = true;
                            cont = sem + 1;
                            break;

                        }
                        else
                        {
                            if (sem <= 6)
                            {
                                <td></td>
                            }
                        }
                    }
                    if (achou)
                    {
                        continue;
                    }
                }
            </tr>
        }


    </tbody>
</table>

<button id="btn-save-assignment" class="btn btn-seha2">Save</button>
<button id="btn-cancel-assignment" class="btn btn-seha1">Cancel</button>
