@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";

}

<h3 class="font-seha left">Assignments</h3>

<div id="assignment" class="container">
    <div class="table-grid assignment">
        <div class="form-group">

            <select id="select-assignment-professor" class="form-control">
                <option disabled selected hidden>Professors..</option>
                @foreach (var item in ViewBag.ListProfessor)//Passar por ViewModel
                {
                    <option value="@item.PessoaId">@item.Nome</option>
                }
            </select>

            <div>
                <label for="lblQuantidadeHoraAtribuida">Assigned hours: </label>
                <label id="lblQuantidadeHoraAtribuida"><span>16</span></label>
            </div>

            <div class="col-md-4">
                <select id="select-assignment-curso" class="form-control">
                    <option disabled selected hidden>Courses..</option>
                    @foreach (var item in ViewBag.ListCurso)//Passar por ViewModel
                    {
                        <option value="@item.CursoId">@item.Titulo</option>
                    }
                </select>
            </div>

            <div class="col-md-2">
                <select id="select-assignment-turno" class="form-control">
                    <option disabled selected hidden>Period..</option>
                    <option>Morning</option>
                    <option>Afternoon</option>
                    <option>Evening</option>
                </select>
            </div>

        </div>

        <!--<table id="tb-assignment" class="table table-bordered">
            @foreach (var semestre in ViewBag.DadosTabelaDinamica.semestres)
            {
                <thead>
                    <tr>
                        <th>@semestre.semestreNome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var disciplina in semestre.disciplinas)
                        {
                            <td>
                                <input type="checkbox" />
                                @disciplina.siglaDescricao
                            </td>
                        }
                    </tr>
                </tbody>

            }
        </table>
        -->
        
        
        <div id="AssignmentCurso">
            @{
                Html.RenderPartial("AssignmentCurso");
            }
        </div>

        <button id="btn-save-assignment" class="btn btn-seha2">Save</button>
        <button id="btn-cancel-assignment" class="btn btn-seha1">Cancel</button>
    </div>
</div>

