@model ProjectSeha.Entity.Professor

@{
    ViewBag.Title = "SEHA - Update Professor";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<h3 class="font-seha left">Update Professor</h3>

@if (ViewBag.Erro != null)
{
    <div style="margin-top:15px;" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Erro
    </div>
}

<div id="professor" class="container">
    <form class="font-seha" action="/professors/update/@Model.PessoaId" method="post">
            <div class="form-group">
            <label>Id</label>
            <input required type="number" disabled name="PessoaId" class="form-control" value="@Model.PessoaId" />
        </div>

        <div class="form-group">
            <label>Name</label>
            <input maxlength="50" required type="text" name="Nome" class="form-control" value="@Model.Nome" />
        </div>

        <div class="form-group">
            <label>Nickname</label>
            <input maxlength="50" required type="text" name="NomeGuerra" class="form-control" value="@Model.NomeGuerra" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input maxlength="100" required type="email" name="Email" class="form-control" value="@Model.Email" />
        </div>

        <div class="checkbox">
            <label><input type="checkbox" name="ProfessorExiste" checked="@Model.ProfessorExiste"/>Hired Professor</label>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" name="ProfessorAtivo" checked="@Model.ProfessorAtivo"/>Activate Professor</label>
        </div>

        <div id="professor-buttons">
            <a class="btn btn-seha1" href="/professors/index">
                Cancel
            </a>
            <button class="btn btn-seha2" type="submit">
                Update
            </button>
        </div>
    </form>
</div>

