@model ProjectSeha.Entity.Professor
@{var i = 1;}



<div class="avaiability" style="margin-top: 20px;">

    @if (ViewBag.ListDisponibilidade.Count > 0)
    {
        <input id="existeDisponibilidade" disabled hidden />
    }

    <input id="PessoaId" disabled hidden value="@Model.PessoaId" />
    
    <div class="row">

        <!--Avaiability-->
        <div id="availability" class="col-md-9">
            <div class="disp-content">

                <div id="availability-hours">
                    <label class="font-seha font-seha-info" for="lbl-aulas">@Model.NomeGuerra has</label>
                    <label class="font-seha font-seha-info" id="lbl-aulas"><span id="horas">@Model.HorasAula</span> assigned hours</label>
                </div>
                <!-- Slots -->

                <div class="slots font-seha">

                    <!-- Slots hours -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Time</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>7:40 to 9:20</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>9:30 to 11:10</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>11:20 to 13:00</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>13:10 to 14:50</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>15:00 to 16:40</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>16:50 to 18:30</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>19:00 to 20:40</p>
                        </div>
                        <div class="slots-content-desactive">
                            <p>20:50 to 22:30</p>
                        </div>
                    </div>

                    <!-- Slots Monday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Monday</p>
                        </div>
                        @for (i = 1; i <= 8; i++)
                        {
                            var lista = (List<ProjectSeha.Entity.Disponibilidade>)ViewBag.ListDisponibilidade;
                            var d = lista.Find(item => item.CodSlot == i);
                            if (d != null)
                            {
                                if (d.Status_slot)
                                {
                                    <div class="slots-content disponivel">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else if (d.Status_slot == false)
                                {
                                    <div class="slots-content talvez">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                            else
                            {
                                if (ViewBag.ListBloqueados.Contains(i))
                                {
                                    <div class="slots-content bloqueado">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else
                                {
                                    <div class="slots-content">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                        }
                    </div>

                    <!-- Slots Tuesday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Tuesday</p>
                        </div>
                        @for (i = 9; i <= 16; i++)
                        {
                            var lista = (List<ProjectSeha.Entity.Disponibilidade>)ViewBag.ListDisponibilidade;
                            var d = lista.Find(item => item.CodSlot == i);
                            if (d != null)
                            {
                                if (d.Status_slot)
                                {
                                    <div class="slots-content disponivel">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else if (d.Status_slot == false)
                                {
                                    <div class="slots-content talvez">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                            else
                            {
                                if (ViewBag.ListBloqueados.Contains(i))
                                {
                                    <div class="slots-content bloqueado">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else
                                {
                                    <div class="slots-content">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                        }
                    </div>

                    <!-- Slots Wednesday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Wednesday</p>
                        </div>
                        @for (i = 17; i <= 24; i++)
                        {
                            var lista = (List<ProjectSeha.Entity.Disponibilidade>)ViewBag.ListDisponibilidade;
                            var d = lista.Find(item => item.CodSlot == i);
                            if (d != null)
                            {
                                if (d.Status_slot)
                                {
                                    <div class="slots-content disponivel">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else if (d.Status_slot == false)
                                {
                                    <div class="slots-content talvez">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                            else
                            {
                                if (ViewBag.ListBloqueados.Contains(i))
                                {
                                    <div class="slots-content bloqueado">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else
                                {
                                    <div class="slots-content">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                        }
                    </div>

                    <!-- Slots Thursday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Thursday</p>
                        </div>
                        @for (i = 25; i <= 32; i++)
                        {
                            var lista = (List<ProjectSeha.Entity.Disponibilidade>)ViewBag.ListDisponibilidade;
                            var d = lista.Find(item => item.CodSlot == i);
                            if (d != null)
                            {
                                if (d.Status_slot)
                                {
                                    <div class="slots-content disponivel">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else if (d.Status_slot == false)
                                {
                                    <div class="slots-content talvez">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                            else
                            {
                                if (ViewBag.ListBloqueados.Contains(i))
                                {
                                    <div class="slots-content bloqueado">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else
                                {
                                    <div class="slots-content">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                        }
                    </div>

                    <!-- Slots Friday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Friday</p>
                        </div>
                        @for (i = 33; i <= 40; i++)
                        {
                            var lista = (List<ProjectSeha.Entity.Disponibilidade>)ViewBag.ListDisponibilidade;
                            var d = lista.Find(item => item.CodSlot == i);
                            if (d != null)
                            {
                                if (d.Status_slot)
                                {
                                    <div class="slots-content disponivel">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else if (d.Status_slot == false)
                                {
                                    <div class="slots-content talvez">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                            else
                            {
                                if (ViewBag.ListBloqueados.Contains(i))
                                {
                                    <div class="slots-content bloqueado">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else
                                {
                                    <div class="slots-content">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                        }
                    </div>

                    <!-- Slots Saturday -->

                    <div class="slots-left">
                        <div class="slots-content-desactive">
                            <p>Saturday</p>
                        </div>
                        @for (i = 41; i <= 48; i++)
                        {
                            var lista = (List<ProjectSeha.Entity.Disponibilidade>)ViewBag.ListDisponibilidade;
                            var d = lista.Find(item => item.CodSlot == i);
                            if (d != null)
                            {
                                if (d.Status_slot)
                                {
                                    <div class="slots-content disponivel">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else if (d.Status_slot == false)
                                {
                                    <div class="slots-content talvez">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                            else
                            {
                                if (ViewBag.ListBloqueados.Contains(i))
                                {
                                    <div class="slots-content bloqueado">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                                else
                                {
                                    <div class="slots-content">
                                        <input hidden disabled value="@i" />
                                    </div>
                                }
                            }
                        }
                    </div>

                </div>

                <!-- /Slots -->
                <!-- Slots buttons -->

                <div class="slots-tools">
                    <button class="btn slots-tbutton" id="available">Available</button>
                    <button class="btn slots-tbutton" id="maybe">Maybe</button>
                </div>

                <div class="slots-buttons">
                    <button disabled id="#btn-availability-save" class="btn slots-save">Save</button>
                    <button id="#btn-availability-clear" class="btn slots-clear">Clear</button>
                </div>

                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100">
                    <label>0%</label>
                </div>

                <!--Observation-->
                <div class="observation" id="steps-obs">
                    <p class="font-seha-info">Notes:</p>
                    <textarea id="txt-area" disabled>@Model.Observacoes</textarea>
                </div>
            </div>
        </div>

        
    </div>
</div>
