
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<style>
    .dashboard {
        margin-top: 50px;
    }
    .dashboard .col-md-4 {
        text-align: center;
    }
    .dashboard p {
        color: #607d8b;
        font-size: 30px;
        font-weight: 700;
    }
</style>

<div class="col-md-12 dashboard">
    <div class="col-md-4">
        <p>@ViewBag.QtdProfessor</p>
        <h3 class="label-dashboard">Registered Professors</h3>
    </div>
    <div class="col-md-4">
        <p>@ViewBag.QtdCourse</p>
        <h3 class="label-dashboard">Registered Courses</h3>
    </div>
    <div class="col-md-4">
        <p>@ViewBag.QtdDiscp</p>
        <h3 class="label-dashboard">Registered Disciplines</h3>
    </div>
</div>
<div class="col-md-12 dashboard">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Professors</th>
                    <th>Hours</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in ViewBag.CountProf_Available)
                {
                    <tr>
                        <td>@a.NomeGuerra</td>
                    </tr>
                    foreach (var s in ViewBag.CountProf_Slot)
                    {
                        if (s.CodProfessor = a.CodProfessor)
                        {
                            <tr>
                                <td>@s.HoraInicio</td>
                                <td>@s.status_slot</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

