
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<style>
    .dashboard {
        margin-top: 50px;
    }
    .dashboard .col-md-4 {
        text-align: center;
    }
    .dashboard p {
        color: #607d8b;
        font-size: 30px;
        font-weight: 700;
    }
    .tb-profcolor {
        background-color: #bababb;
        color: white;
        cursor: pointer;
    }
    .dash-slots {
        display: none;
    }
</style>

<div class="col-md-12 dashboard">
    <div class="col-md-4">
        <p>@ViewBag.QtdProfessor</p>
        <h3 class="label-dashboard">Registered Professors</h3>
    </div>
    <div class="col-md-4">
        <p>@ViewBag.QtdCourse</p>
        <h3 class="label-dashboard">Registered Courses</h3>
    </div>
    <div class="col-md-4">
        <p>@ViewBag.QtdDiscp</p>
        <h3 class="label-dashboard">Registered Disciplines</h3>
    </div>
</div>
<div class="col-md-12 dashboard">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Professors</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.CountProf_Available != null)
                {
                    foreach (var a in ViewBag.CountProf_Available)
                    {
                        <tr class="tb-profcolor">
                            <td>@a.NomeGuerra</td>
                            <td></td>
                        </tr>
                        foreach (var s in ViewBag.CountProf_Slot)
                        {
                            if (s.CodProfessor == a.CodProfessor)
                            {
                                <tr class="dash-slots">
                                    <td>@s.HoraInicio</td>
                                    <td>@s.status_slot</td>
                                </tr>
                            }
                        }
                    }
                }
                else
                {
                    <tr>
                        <td>Nothing here</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

